* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: black; }
  header nav {
    background-color: purple; }
    header nav ul {
      background-color: red; }

main section h2 {
  color: red; }

main section .p {
  color: aqua; }

main section img {
  color: brown; }

main section button {
  color: black; }
  main section button:hover {
    color: red; }

@media (max-width: 780px) {
  main {
    background-color: red; }
    main section {
      background-color: green; } }
